In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
rawdata = pd.read_csv('./7832디시전트리.csv')
rawdata

,생일,남/여,개인/법인,특화여부,대구/그외,지원사업명,지원금액,정부지원,지자체지원,센터지원,...,멘토링컨설팅,판로지원,당년매출액,당년고용,당년직원,당년투자금액,후년매출액,후년고용,후년직원,후년투자금액
0,0.50420,1.0,0.0,0.0,1.0,중견기업스핀오프지원사업,25000000.0,0.0,1.0,0.0,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,1.400000e+08,0.0,1.0,0.000000e+00
1,0.78764,1.0,1.0,1.0,1.0,대구의료창업및취업지원사업,30000000.0,1.0,0.0,0.0,...,0.0,0.0,0.000000e+00,2.0,2.0,0.0,0.000000e+00,1.0,2.0,0.000000e+00
2,0.38959,1.0,0.0,0.0,1.0,2018지역기업혁신역량강화사업,33000000.0,1.0,0.0,0.0,...,0.0,0.0,1.895518e+09,22.0,25.0,200000000.0,4.419496e+09,10.0,30.0,0.000000e+00
3,0.73600,1.0,0.0,1.0,1.0,소셜벤처육성사업,32000000.0,1.0,0.0,0.0,...,0.0,0.0,1.720000e+09,3.0,18.0,0.0,2.147466e+09,10.0,28.0,NaN
4,0.52357,1.0,0.0,1.0,1.0,2018 대구스타벤처육성사업,80000000.0,0.0,1.0,0.0,...,0.0,0.0,2.976351e+08,19.0,24.0,0.0,1.790380e+09,22.0,39.0,1.150013e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0.15397,1.0,0.0,0.0,1.0,2017년 시제품제작 지원사업,8800000.0,0.0,0.0,1.0,...,0.0,0.0,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.0,1.0,0.000000e+00
93,0.42302,1.0,0.0,0.0,1.0,크라우드펀딩지원사업,10000000.0,0.0,1.0,0.0,...,0.0,0.0,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.0,1.0,0.000000e+00
94,0.46729,1.0,0.0,0.0,1.0,크라우드펀딩지원사업,10000000.0,0.0,1.0,0.0,...,0.0,0.0,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.0,1.0,0.000000e+00
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
del rawdata['지원사업명']

In [4]:
rawdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 23 columns):
생일        95 non-null float64
남/여       95 non-null float64
개인/법인     95 non-null float64
특화여부      95 non-null float64
대구/그외     95 non-null float64
지원금액      95 non-null float64
정부지원      95 non-null float64
지자체지원     95 non-null float64
센터지원      95 non-null float64
기타지원      95 non-null float64
복합지원      95 non-null float64
사업화지원     95 non-null float64
마케팅지원     95 non-null float64
멘토링컨설팅    95 non-null float64
판로지원      95 non-null float64
당년매출액     95 non-null float64
당년고용      82 non-null float64
당년직원      82 non-null float64
당년투자금액    81 non-null float64
후년매출액     55 non-null float64
후년고용      54 non-null float64
후년직원      54 non-null float64
후년투자금액    44 non-null float64
dtypes: float64(23)
memory usage: 17.6 KB

In [5]:
rawdata.fillna(0)

,생일,남/여,개인/법인,특화여부,대구/그외,지원금액,정부지원,지자체지원,센터지원,기타지원,...,멘토링컨설팅,판로지원,당년매출액,당년고용,당년직원,당년투자금액,후년매출액,후년고용,후년직원,후년투자금액
0,0.50420,1.0,0.0,0.0,1.0,25000000.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,1.400000e+08,0.0,1.0,0.000000e+00
1,0.78764,1.0,1.0,1.0,1.0,30000000.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.000000e+00,2.0,2.0,0.0,0.000000e+00,1.0,2.0,0.000000e+00
2,0.38959,1.0,0.0,0.0,1.0,33000000.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.895518e+09,22.0,25.0,200000000.0,4.419496e+09,10.0,30.0,0.000000e+00
3,0.73600,1.0,0.0,1.0,1.0,32000000.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.720000e+09,3.0,18.0,0.0,2.147466e+09,10.0,28.0,0.000000e+00
4,0.52357,1.0,0.0,1.0,1.0,80000000.0,0.0,1.0,0.0,0.0,...,0.0,0.0,2.976351e+08,19.0,24.0,0.0,1.790380e+09,22.0,39.0,1.150013e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0.15397,1.0,0.0,0.0,1.0,8800000.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,1.0,0.000000e+00
93,0.42302,1.0,0.0,0.0,1.0,10000000.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,1.0,0.000000e+00
94,0.46729,1.0,0.0,0.0,1.0,10000000.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,1.0,0.000000e+00
95,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00
96,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00

In [9]:
rawdata['지원금액'] =rawdata['지원금액'] / 1000000

In [11]:
rawdata['당년매출액']= rawdata['당년매출액'] / 1000000

In [12]:
rawdata['당년투자금액'] = rawdata['당년투자금액'] / 1000000
rawdata['후년매출액'] = rawdata['후년매출액'] / 1000000
rawdata['후년투자금액'] = rawdata['후년투자금액'] / 1000000

In [17]:
rawdata

,생일,남/여,개인/법인,특화여부,대구/그외,지원금액,정부지원,지자체지원,센터지원,기타지원,...,멘토링컨설팅,판로지원,당년매출액,당년고용,당년직원,당년투자금액,후년매출액,후년고용,후년직원,후년투자금액
0,0.50420,1.0,0.0,0.0,1.0,25.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,140.000000,0.0,1.0,0.0000
1,0.78764,1.0,1.0,1.0,1.0,30.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,2.0,2.0,0.0,0.000000,1.0,2.0,0.0000
2,0.38959,1.0,0.0,0.0,1.0,33.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1895.517694,22.0,25.0,200.0,4419.495669,10.0,30.0,0.0000
3,0.73600,1.0,0.0,1.0,1.0,32.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1720.000000,3.0,18.0,0.0,2147.466215,10.0,28.0,NaN
4,0.52357,1.0,0.0,1.0,1.0,80.0,0.0,1.0,0.0,0.0,...,0.0,0.0,297.635126,19.0,24.0,0.0,1790.379602,22.0,39.0,1150.0132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0.15397,1.0,0.0,0.0,1.0,8.8,0.0,0.0,1.0,0.0,...,0.0,0.0,0.000000,NaN,NaN,NaN,0.000000,0.0,1.0,0.0000
93,0.42302,1.0,0.0,0.0,1.0,10.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000,NaN,NaN,NaN,0.000000,0.0,1.0,0.0000
94,0.46729,1.0,0.0,0.0,1.0,10.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000,NaN,NaN,NaN,0.000000,0.0,1.0,0.0000
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
rawdata = rawdata.fillna(0)

In [27]:
rawdata

,생일,남/여,개인/법인,특화여부,대구/그외,지원금액,정부지원,지자체지원,센터지원,기타지원,...,멘토링컨설팅,판로지원,당년매출액,당년고용,당년직원,당년투자금액,후년매출액,후년고용,후년직원,후년투자금액
0,0.50420,1.0,0.0,0.0,1.0,25.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,140.000000,0.0,1.0,0.0000
1,0.78764,1.0,1.0,1.0,1.0,30.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,2.0,2.0,0.0,0.000000,1.0,2.0,0.0000
2,0.38959,1.0,0.0,0.0,1.0,33.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1895.517694,22.0,25.0,200.0,4419.495669,10.0,30.0,0.0000
3,0.73600,1.0,0.0,1.0,1.0,32.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1720.000000,3.0,18.0,0.0,2147.466215,10.0,28.0,0.0000
4,0.52357,1.0,0.0,1.0,1.0,80.0,0.0,1.0,0.0,0.0,...,0.0,0.0,297.635126,19.0,24.0,0.0,1790.379602,22.0,39.0,1150.0132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0.15397,1.0,0.0,0.0,1.0,8.8,0.0,0.0,1.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,1.0,0.0000
93,0.42302,1.0,0.0,0.0,1.0,10.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,1.0,0.0000
94,0.46729,1.0,0.0,0.0,1.0,10.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,1.0,0.0000
95,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0000
96,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0000

In [28]:
from sklearn.model_selection import train_test_split as spliter
X_train, X_test, Y_train, Y_test = spliter(rawdata, rawdata[['후년매출액', '후년고용' , '후년직원', '후년투자금액']], test_size = 0.2, random_state=13)

from sklearn import tree
tree_reg = tree.DecisionTreeRegressor()
tree_reg.fit(X_train,Y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [30]:
tree_reg.score(X_train, Y_train)

C:\Users\kimyc\Anaconda3\lib\site-packages\sklearn\base.py:420: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

1.0

In [1]:
testresult = tree_reg.predict(X_test)

NameError: name 'tree_reg' is not defined

In [39]:
Y_test

          후년매출액  후년고용  후년직원       후년투자금액
95     0.000000   0.0   0.0     0.000000
33    60.000000   2.0   5.0   150.000000
42     0.000000   0.0   0.0     0.000000
14   500.000000   3.0   5.0     0.000000
65     0.000000   0.0   0.0     0.000000
12   538.000000   1.0   3.0     0.000000
70     0.000000   0.0   0.0     0.000000
80     0.000000   0.0   0.0     0.000000
88  1100.000000   0.0   4.0     0.000000
39     0.000000   2.0   3.0   234.666000
41     0.000000   0.0   0.0     0.000000
23   165.545576  10.0  17.0   430.075600
44     0.000000   0.0   0.0     0.000000
90    54.000000   1.0   2.0    10.000000
43     0.000000   0.0   0.0     0.000000
9   1035.307563   4.0  10.0   182.807932
84    48.720000   0.0   6.0   125.000000
55     0.000000   0.0   0.0     0.000000
3   2147.466215  10.0  28.0     0.000000
4   1790.379602  22.0  39.0  1150.013200

In [46]:
pd.DataFrame(testresult)

              0     1     2            3
0      0.000000   0.0   0.0     0.000000
1     18.000000   0.0   2.0    60.000000
2      0.000000   0.0   0.0     0.000000
3    280.000000   3.0   6.0    62.500000
4      0.000000   0.0   0.0     0.000000
5    542.737000   2.0   4.0     0.000000
6      0.000000   0.0   0.0     0.000000
7      0.000000   0.0   0.0     0.000000
8    674.943792   4.0  13.0  3300.000000
9      0.435600   0.0   3.0     0.000000
10     0.000000   0.0   0.0     0.000000
11   233.651061   0.0   2.0   300.000000
12     0.000000   0.0   0.0     0.000000
13    18.294547   2.0   3.0     0.000000
14     0.000000   0.0   0.0     0.000000
15  1035.307563   4.0  10.0   182.807932
16    18.000000   0.0   2.0    60.000000
17     0.000000   0.0   0.0     0.000000
18  4419.495669  10.0  30.0     0.000000
19  1790.379602  22.0  39.0  1150.013200