In [19]:
import pykrx.stock

class Dataset():
    
    def __init__(self, stock='005930', date=('20190101', '20191231') , theta=10):
        self.df = pykrx.stock.get_market_ohlcv_by_date(date[0], date[1], stock)
        self.observe = theta
        self.theta = theta
    def next(self):
        self.observe += 1
        print(self.observe)

        return self.df.iloc[self.observe - self.theta : self.observe], self.df.iloc[[self.observe]]

ds = Dataset()

In [21]:
ds.next()[0]

12

               시가     고가     저가     종가       거래량
날짜
2019-01-04  37450  37600  36850  37450  14108958
2019-01-07  38000  38900  37800  38750  12748997
2019-01-08  38000  39200  37950  38100  12756554
2019-01-09  38650  39600  38300  39600  17452708
2019-01-10  40000  40150  39600  39800  14731699
2019-01-11  40350  40550  39950  40500  11661063
2019-01-14  40450  40700  39850  40050  11984996
2019-01-15  40050  41100  39850  41100  11492756
2019-01-16  41150  41450  40700  41450   8491595
2019-01-17  41700  42100  41450  41950  11736903