In [1]:
import pykrx.stock as stock
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


tickers = stock.get_market_ticker_list()
period = ['20010101', '20191231']

ticker_squeeze = []
import random
for ticker in tickers:
    if random.randint(0,2) == 0 :# 0,1,2 무작위로
        ticker_squeeze.append(ticker)

print(len(ticker_squeeze))
tickers = ticker_squeeze

862

In [2]:
a = stock.get_market_ohlcv_by_date(period[0],period[1],tickers[1])[['종가']]
b = stock.get_market_ohlcv_by_date(period[0],period[1],tickers[2])[['종가']]
c = stock.get_market_ohlcv_by_date(period[0],period[1],tickers[3])[['종가']]
d = stock.get_market_ohlcv_by_date(period[0],period[1],tickers[4])[['종가']]
e = stock.get_market_ohlcv_by_date(period[0],period[1],tickers[5])[['종가']]
f = stock.get_market_ohlcv_by_date(period[0],period[1],tickers[6])[['종가']]

In [3]:
a

               종가
날짜
2011-03-30  14633
2011-03-31  14820
2011-04-01  15193
2011-04-04  15193
2011-04-05  14959
...           ...
2019-12-23   7870
2019-12-24   7850
2019-12-26   7770
2019-12-27   7620
2019-12-30   7660

[2157 rows x 1 columns]

In [4]:
b

                종가
날짜
2001-01-02   39550
2001-01-03   39800
2001-01-04   41000
2001-01-05   41000
2001-01-08   43000
...            ...
2019-12-23  234000
2019-12-24  233500
2019-12-26  235500
2019-12-27  237000
2019-12-30  236500

[4695 rows x 1 columns]

In [11]:
pd.merge(b,a,on='날짜', how='outer')

              종가_x    종가_y
날짜
2001-01-02   39550     NaN
2001-01-03   39800     NaN
2001-01-04   41000     NaN
2001-01-05   41000     NaN
2001-01-08   43000     NaN
...            ...     ...
2019-12-23  234000  7870.0
2019-12-24  233500  7850.0
2019-12-26  235500  7770.0
2019-12-27  237000  7620.0
2019-12-30  236500  7660.0

[4695 rows x 2 columns]

In [13]:
data[tickers[1]] = a

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [ ]:
def momentum( idx_ticker, days : int, timepoint):